#libraries installed 
#pip install tensorflow numpy matplotlib scikit-learn opencv-python flask
Flask==3.0.0
tensorflow==2.15.0
numpy==1.26.2
opencv-python==4.8.1.78
Pillow==10.1.0
matplotlib==3.8.2
gunicorn==21.2.0

