
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


h1 {
    color: #333;
}


.upload-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#fileName {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.predict-btn {
    background: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.predict-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.predict-btn:hover:not(:disabled) {
    background: #218838;
}

/* Loading Animation */
.hidden {
    display: none;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #007BFF;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.result {
    margin-top: 20px;
}

.result img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}
